.hamburger_menu:hover {
  cursor: pointer;
}

.hamburger_menu {
  position: absolute;
  top: 18px;
  left: 27px;
}

.textSpan {
  margin-left: 25px;
}

@media screen and (max-width: 1330px) {
  .textSpan {
    display: none;
  }
}
