.hamburger_menu:hover {
  cursor: pointer;
}

.hamburger_menu {
  position: fixed;
  top: 18px;
  left: 27px;
}

.textSpan {
  margin-left: 25px;
}

.textSpanSub {
  margin-left: 20px;
}

.abbonomenter {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 600;
}

.textSpanArrow {
  margin-left: 30px;
}

@media screen and (max-width: 1330px) {
  .textSpan,
  .textSpanSub {
    display: none;
  }
}
